.green-text {
    color: #32cb00;
}

.blue-text {
    color: #1e88e5;
}

.red-text {
    color: #ff0000 ;
}

#desktop {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    font-family: sans-serif !important;
    background-image: url('../img/desktop-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.window {
    position: absolute !important;
    display: inline-block;
    width: 600px;
    height: 400px;
    font-size: 18px;
    border-radius: 10px;
    z-index: 10;
}

.window-head {
    background-color: #c6c6c6;
    height: 30px;
    text-align: center;
    font-size: 16px;
    color: #000000;
}

.window-head:active {
    /*cursor: grabbing;*/
}

.window-content {
    height: calc(100% - 30px);
    padding: 0 5px;
    overflow-y: auto;
}

.icon {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    z-index: 5;
}

.icon-x-close {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: #32cb00;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
}